/*
Dioggo:
FUENTES:
*/


@font-face{
    font-family: 'babyDoll';
    src: url("../FONTS/Baby\ Doll.ttf"); /*Dioggo: Esto de aca es una fuente que no es la que se ha elegido aún, solo es una momentanea*/
}

@font-face{
    font-family:'lemonMilkBold';
    src: url("../FONTS/LEMONMILK-Bold.otf");
}

@font-face{
    font-family:'jackpot';
    src: url("../FONTS/Jackpot.ttf");
}

@font-face{
    font-family:'lemonMilkLight';
    src: url("../FONTS/LEMONMILK-Light.otf");
}

@font-face{
    font-family: 'absender';
    src: url("../FONTS/absender1.ttf");/*Dioggo: Esto de aca es una fuente que no es la que se ha elegido aún, solo es una momentanea*/
}

body{
    display: flex;
    margin: 0; /*Dioggo: Esto de aca, esta para que las cajas de la pagina, se peguen a los bordes de esta*/
    flex-direction: column;
    background: linear-gradient(rgba(5,7,12,0.9),rgba(5,7,12,0.9)), url("../IMG/img.jpg");
    /*Dioggo: Si has leido algo de mis comentarios anteriores, en la parte del HTML, 
    más especificamente en el texto de bienvenida, sabrás que esta imagen, opaca dicho texto, 
    por lo que si saben como hacer que el fondo sea algo más transparente, haga los cambios, o comenten alguna idea*/
    
    


}header{
    color:white;
    background-color: rgb(238, 136, 19,0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}nav{
    padding: 1em;
    
}
#idiomas img{
    width:2em;
    margin-left: 1em;
    margin-right: 1em;
    align-self: center;
    transition: transform 0.3s ease-in-out;   
}
#idiomas img:hover{
    width:2em;
    margin-left: 1em;
    transform: scale(1.1);
    align-self: center;
}#slide{
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:first baseline;
    margin: 4em;
    
}.slideCapa{
    overflow: hidden;
    width: 50%;
    display: flex;
    justify-content: center;
}.btnSlider{
    position:absolute;
    color: white;
    font-size: 2.2em;
    width: 1.5em;
    height: 1.6em;
    font-weight: bold;
    font-family: monospace;
    background:rgba(0, 0, 0, 0.5);
    cursor: pointer;
    top:50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translateY(-50%);
}.btnSlider:hover{
    background:rgba(0, 0, 0, 0.8);
}
#btnSliderIzquierda{
    left: 12em;
}#btnSliderDerecha{
    right: 12em;
}.slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 1s ease-in;
}.slider img{
    transition: transform 1s ease-in-out;
    width: 100%;
}
/* logo */ 
#logo-cabra{
    display: flex;
}#logo-cabra a{
    display: flex;
    color:black;
    text-decoration: none;
    font-family: "LemonMilkBold";
    font-size: 1em;
    align-items: center;
}

#logo-cabra a .nombre{
    color: white;
    font-style: none;
}

#logo-cabra a img{
    width: 5em;
    border-radius: 100%;
}#usuarioTR{
    display: flex;
    align-items: center;
    flex-direction: row;
}#usuarioR{
    font-size: 1em;
}
#lista{
    padding: 1.2em;
    background-color: rgb(238, 136, 19,0.85);
    width: 8cm;
    top:6em;
    right: 0cm;
    display: none;   
    position: absolute;
    flex-direction: column;
}#lista a{
    color: white;
    padding: 5px;
    text-decoration: none;
    
}.usuario{
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.usuario a{
    position: relative;
    display: flex;
    font-family: "lemonMilkLight";
    margin-right: 1em;
    font-size: 1em;
    text-decoration: none;
    color: white;
}
#lista a:hover{
    background-color: rgb(105, 60, 8);
}#usuarioTR:hover #lista{
    display: flex;
    
}#register:hover{
    text-decoration: underline;
}

.usuario img{
    border-radius: 100%;
    width: 2em;
}

/* Javi: navbar.css */

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
    color: white;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    border-bottom: 2px solid white;
}


#section_landing{
    display: flex;
    color: white;
    width: 60%;
}

/* vinilos.css */

#vinilos {
    color: white;
    text-align: center;
    margin: 20px 0;
}

#vinilos h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.vinilo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.vinilo {
    width: 250px;
    margin: 15px;
    padding: 10px;
    background:rgba(0, 0, 0, 0.8);
    border: 1px solid #ddd;
    border-radius: 8px;
}

.vinilo img {
    max-width: 100%;
    border-radius: 8px;
}

.vinilo p {
    margin: 10px 0;
}

.vinilo button {
    background-color: #007BFF;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.vinilo button:hover {
    background-color: #0056b3;
}


#register{
    font-family: "lemonMilkLight";
    display: flex;
    margin-right: 1em;
    font-size: 1em;
    text-decoration: none;
    color: white;
    align-items: center;
    transition: transform 0.3s ease;    
}
aside{
    margin:2em;
    font-family: "lemonMilkBold";  
    color:white;
    width: 30%;
    background: rgba(1,7,12,0.75);
}#separador{
    display: flex;
    flex-direction: row;
}form{
    margin:3em;
    display: flex;
    flex-direction: column;

}

#errorN, #errorC, #errorP, #errorF, #errorD, #errorDNI, #errorNT /* Pone las letras de los divs correspondientes en el color del footer y del header y en un tamaño más pequeño. */
{
    color: rgb(238, 136, 19,0.85);
    font-family: "lemonMilkBold";
    font-size: 0.5em;
    cursor: default; /* También he cambiado el cursor para que se vea más bonito */
}

#notificaciones, #revistaDigital /* Pone las notificaciones y lo de recibir la revista digital en el color naranja de antes y en una letra ligeramente más pequeña */
{   
    color: rgb(238, 136, 19,0.85);
    font-family: "lemonMilkBold";
    font-size: 0.7em;
    cursor: default;
}

#introduccion{
    text-align: center;
    margin:4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error {
    color: rgb(238, 136, 19,0.85);
}
#texto-introduccion {
    text-align: center;
    border-radius: 1em;
    width: 80%;
    color: white;
    font-family: "lemonMilkLight"; /* Utiliza la misma fuente que el resto de la página */
    margin: 0 auto;
    background: rgba(1,7,12,0.6); /* Fondo similar al del aside */
    padding: 1em; /* Ajusta el relleno según tus preferencias */
}

#bienvenidoP {
    /*background-color: rgba(238, 136, 19, 0.8);*/
    text-align: center;
    border-radius: 10px;
    width: 70%;
    padding: 10px;
    color: rgb(238, 136, 19,0.85);
    font-size: 4em;
    margin: 20px auto;
    font-family: "lemonMilkBold";
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#texto{
    text-align: center;
    border-radius: 1em;
    width: 60%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.campos{
    border:none;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 10px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1em;
}#logoForm{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
}
#logoForm img{
    width: 7em;
    border-radius: 150px;
 
}#submitButton{
    margin:1em;
    width: 6cm;
    padding: 0.5em;
    border-radius: 20px;
    font-size: 1.5em;
    color: white;
    background-color: #ee8813;
    background-color: #ee8813;
    border: none;
    font-family: "lemonMilkLight";  
}#submitCaja{
    display: flex;
    justify-content: center;

  
}
#footer{
    background-color: rgb(238, 136, 19,0.85);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
}
#pFooter{
    font-family: "LemonMilkBold";
    margin: 1em;
}

#mostrarMas, #mostrarMenos
{
    color: rgb(238, 136, 19,0.85);
    text-decoration: underline;
    cursor: pointer;
}

#mostrarMenos
{
    display: none;
}

#infoOculta 
{
    display: none; /* Oculta el contenedor inicialmente */
}

#submitButton
{
    cursor: pointer;
}

#icons
{
    margin: 1em;
}

#icon
{
    height: 3vh;
    margin-right: 1vh;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    body {
        background-size: auto;
    }
    header {
        padding: 0.5em 1em;
    }
    #idiomas img {
        width: 1.5em;
    }
    #usuario a {
        font-size: 0.8em;
    }
    #separador {
        display: flex;
        flex-direction: column;
        margin: 0.1em;
    }
    section, aside {
        width: 100%;
        margin: 0;
    }
    form {
        margin: 1em;
    }
    #logoForm img {
        width: 5em;
    }
    #submitButton {
        width: 100%;
    }
    #introduccion {
        text-align: center;
        margin: 0.25em;
    }
    #texto-introduccion {
        width: 90%;
    }
    #bienvenidoP {
        background-color: #ee8813;
        text-align: center;
        border-radius: 1em;
        width: 70%;
        padding: 0.10em;
        color: #ffffff;
        font-size: 1cm;
        margin: 0.5em auto;
    }
    #texto {
        text-align: center;
        border-radius: 1em;
        width: 80%;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0 auto;
    }
}
/*CSS De infoDiscos.html */

#sectionInfo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.viniloInfo{
    width: 40%;
    display: flex;
    flex-direction:column;
    align-items: center;
    border: solid;
    border-color: white;
    margin-top: 4em;
    margin-bottom: 4em;

}

.viniloCanciones{
    width: 40%;
    display: flex;
    flex-direction:column;
    align-items: center;
    border: solid;
    border-color: white;
    margin-top: 4em;
    margin-bottom: 4em;
}

.tituloVinilos h1{
    color:#ee8813; 
    font-size: 2em;
}

#tabla{
    color: white; 
}

#tabla thead tr th{
    color: #ee8813; 
}


.viniloInfo img{
  width: 75%;
  margin-top: 1em;
}

